<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{MM/dd/yyyy HH:mm:ss} | %-5p | [%-5L] | [%35.35C{3}] - %m%n</pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>results/karate.log</file>
        <encoder>
            <pattern>%d{MM/dd/yyyy HH:mm:ss} | %-5p | [%-5L] | [%35.35C{3}] - %m%n</pattern>
        </encoder>
    </appender>

    <logger name="com.intuit.karate" level="DEBUG"/>

    <root level="info">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="FILE"/>
    </root>

</configuration>